@import "~bootstrap/scss/bootstrap" ;

body {
    background-color: floralwhite;
}

.articleTitle {
    font-size: 30px;
}

.articles {
    font-size: 17px;
    text-decoration: underline;
}

.tagTitle
{
    text-decoration: underline;
}