{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="text-center"> Add a category </h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}

    <button class="btn btn-info">{{  button_label|default('Save') }}</button>
    {{ form_end(form) }}
    </form>

{% endblock %}