{% extends 'base.html.twig' %}


{% block body %}


   <p>Catégorie: {{ category.name }} </p>
    <ul>

    {% for article in articles %}
    <li>    {{ article.title }}</li>
    {% else %}
rien !
    {% endfor %}
</ul>

{% endblock %}