{% extends 'base.html.twig' %}


{% block body %}


    {{ category.name }}
<ul>

    {% for article in articles %}
    <li>    {{ article.title }}</li>
    {% else %}
rien !
    {% endfor %}
</ul>

{% endblock %}